@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-slate-100 font-secondary bg-slate-900;
  }
  .title {
    @apply text-[40px] xl:text-[50px] font-primary text-brandPrimary font-bold  leading-[120%] tracking-[-0.05em] mb-2;
  }

  .btn {
    @apply py-[18px] px-[50px] h-[66px]  items-center justify-center text-base uppercase font-secondary font-semibold text-brandSecondary rounded-md bg-red-200 cursor-pointer;
  }
  .btn-gradient {
background: rgb(235, 168, 125);
  background: linear-gradient(36deg, rgba(235, 168, 125, 1) 0%, rgba(181, 113, 73, 1) 25%, rgba(235, 168, 125, 1) 50%, rgba(181, 113, 73, 1) 75%, rgba(235, 168, 125, 1) 100%);
  }
  .btn-gradient:hover {
background: rgb(235, 168, 125);
  background: linear-gradient(36deg, rgba(235, 168, 125, 1) 0%, rgba(181, 113, 73, 1) 10%, rgba(235, 168, 125, 1) 50%, rgba(181, 113, 73, 1) 90%, rgba(235, 168, 125, 1) 100%);
    @apply transition text-primary;
  }
}
